<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	 version="2.4">

    <display-name>add League</display-name>
    <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>

    <servlet>
        <servlet-name>addLeague</servlet-name>
        <servlet-class>webServlet.control.AddLeague</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addLeague</servlet-name>
        <url-pattern>/html/addLeague.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>successLeague</servlet-name>
        <servlet-class>webServlet.view.SuccessLeague</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>successLeague</servlet-name>
        <url-pattern>/html/successLeague.view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>failLeague</servlet-name>
        <servlet-class>webServlet.view.FailedLeague</servlet-class>
	<init-param>
	    <param-name>season-list</param-name>
	    <param-value>unknown,Spring,Summer,Winter,Fall,sensitive,a1,a2,a3,a4,a5</param-value>
	</init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>failLeague</servlet-name>
        <url-pattern>/html/failedLeague.view</url-pattern>
    </servlet-mapping>
</web-app>
